@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Sixtyfour', sans-serif;
}

body {
  background: rgb(45,60,81);
  background: linear-gradient(90deg, rgba(45,60,81,1) 45%, rgba(166,147,36,1) 96%);
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  color: white
}

img {
  width: 200px;
  margin-bottom: 15px;
}

h2{
  display: block;
  margin: 50px auto 10px;  
  text-align: center;
  font-family: 'Sixtyfour', sans-serif;
  color: azure;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 300px;
  height: 55px;
  margin: 5px;
  padding-left: 15px;
  border-radius: 25px;
  font-size: 30px;
  background-color: rgba(141, 165, 185, 0.232);
  color: #000;
  border: none;
  box-shadow: 3px 1px 10px rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


::placeholder {
  color: rgba(255, 255, 255, 0.473);
}

button {
  text-align: center;
  display: block;
  margin: 15px auto 5px;  
  text-align: center;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: #24A1A6;
  box-shadow: 3px 1px 10px rgb(0, 0, 0);
  font-size: 20px;
  color: white;
  cursor: pointer;
}

button:hover{
  background-color: #2D3C51;
  color: aliceblue;
  transition: 0.3s ease-in-out;
}

section {
  width: 380px;
  height: 120px;
  background-color: aliceblue;
  display: block;
  margin: 2% auto;
  padding: 1% 2%;
  background-color: rgba(141, 165, 185, 0.232);
  color: #000;
  border: none;
  box-shadow: 3px 1px 10px rgb(0, 0, 0);
  border-radius: 25px;
  text-align: center;
  line-height: 195%;
}

span {
  font-size: 20px;
}

@media screen and (max-width: 635px){
  body {
    max-width: 100vw;
  }

  main {
    flex-direction: column;
  }

  #result {
    max-width: 85%;
  }

  h3, span {
    margin: 1.5%;
    padding: 5px 5px;
    line-height: 120%;
    font-size: 110%;
  }
}